.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile--container {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

.profile--sign-out-btn {
    margin-top: 30px;
    width: 20%;
    height: 50px;
    font-size: 19px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}