.explore-vans-page {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    background-color: #FFF7ED;
}

.explore-vans--filter-btn {
    height: 40px;
    width: 120px;
    font-size: 18px;
    background-color: #FFEAD0;
    border: none;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    transition: transform 0.2s background-color 0.2s;
    cursor: pointer;
}

.explore-vans--filter-btn:hover {
    transform: scale(0.95);
    color: #FFEAD0;
}

.explore-vans--filter-btn:active {
    transform: scale(0.9);
    background-color: #FFCF80;
}

.simple:hover, .simple.selected {
    background-color: #E17654;
    color: #FFEAD0;
}

.luxury:hover, .luxury.selected {
    background-color: #161616;
    color: #FFEAD0;
}

.rugged:hover, .rugged.selected {
    background-color: #115E59;
    color: #FFEAD0;
}


.explore-vans--filter-clear {
    margin-left: 30px;
    font-size: 18px;
    cursor: pointer;
}

.explore-vans--filter-clear:hover {
    text-decoration: underline;
    font-weight: bold;
}

.explore-vans--vans-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media (max-width: 600px) {
    .explore-vans--vans-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}