#navbar {
    height: 15vh;
    width: 100vw;
    min-height: 50px;
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
}

#navbar--items {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: bold;
}

#navbar--items > li {
    display: inline-block;
}

#navbar--items > li > a {
    text-decoration: none;
    color: black;
}

#navbar--website {
    margin-right: auto;
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    margin-left: 20px; 
}