#navbar {
    height: 100px;
    width: 100vw;
    min-height: 50px;
    background-color: #FFF7ED;
    display: flex;
    color: #4D4D4D;
}

.navbar--active {
    font-weight: bold;
    color: #161616;
    text-decoration: underline;
}

#navbar--items {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: bold;
}

#navbar--items > li {
    display: inline-block;
    font-size: 20px;
    transition: all 0.5s ease;
}

#navbar--items > li:hover {
    font-size: 25px;
    color: black;

}

#navbar--website {
    margin-right: auto;    
}

#navbar--website > a {
    font-size: 32px;
    font-weight: 900;
    font-family: Inter;
    transition: all 0.5s ease;
}

#navbar--website > a:hover {
    font-size: 35px;
    color: orange;
}