.register {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}

.register--form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input {
    height: 30px;
    width: 25%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px;
}

.register--btn {
    margin-top: 30px;
    height: 40px;
    width: 30%;
    font-size: 18px;
    border: none;
    background-color: #FF8C38;
    color: white;
    font-weight: bold;
}

.already-registered > a {
    color: #FF8C38;
    font-weight: bold;
}