
.host-van-detail--container {
    display: flex;
    width: 80%;
}

.host-van-detail--container > img {
    width: 15%;
}

.basic--info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basic--info > h3 {
    font-size: 28px;
    margin-bottom: 0;

}

.basic--info > h4 {
    font-size: 24px;
    margin-top: 20px;
}